<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Barang</title>
</head>

<body>
    <h1>Order Data</h1>
    <table border="1" cellpadding="5" cellspacing="0" width="100%">
        <tr>
            <th>No</th>
            <th>Id</th>
            <th>Code</th>
            <th>Date</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {{#each orders}}
        <tr>
            <td>{{this.no}}</td>
            <td>{{this.id}}</td>
            <td>{{this.code}}</td>
            <td>{{this.date}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>